body {
	margin: 0px;
background-color: rgb(224, 200, 150);
}


.navbar{
    margin: 20px;
    background-color: bisque;
    padding: 20px;
    float: right;
}

.navbar a{
    padding: 20px;
    color: rgb(4, 5, 4);
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

 
.navbar a:hover{
    color:white;
}

.friend{
    color: rgb(255, 10, 222);
}


